<!DOCTYPE html>
<!--only after login we can get here-->
{% extends 'userApp/base.html' %} {% block content %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome User,U r logged in</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        possimus cupiditate officiis voluptatem dolore, atque temporibus quaerat
        exercitationem debitis, eos qui dolor tempore, incidunt veniam in? Dicta
        asperiores consectetur id?
      </p>
    </div>
  </div>
</div>
{% endblock %}
